.floater_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 40px;
    left: 0px;
    padding: 20px;
    background-color: #ffffff4d;
    backdrop-filter: blur(20px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 7;
    width: 30px;
    .container-right {
        width: 100%;
        position: absolute;

        svg {
            font-size: 30px;
        }
    }

    .container-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        opacity: 0;

        h3 {
            font-size: 16px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            padding: 8px 15px;
            background-color: #fff;
            color: #1e1e1e;
            text-transform: uppercase;
            outline: none;
            border: 1px solid #1e1e1e;
            border-radius: 20px;
            font-size: 20px;
        }

        animation: showing_first forwards 0.3s ease;

        @keyframes showing_first {
            0% {
                width: 0%;
            }

            100% {
                width: 300px;
            }
        }
    }
}
