.about_cont {
    background: url(../../../public//Images/Background_About.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-clip: border-box;
}
