.container {
  width: 100%;
}


.up_background {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 22%, rgba(237, 237, 237, 1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-origin: border-box;
  height: 100%;
  width: 100%;
}