@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --light-color: #FFF;
  --primary-color: #FFE662;
  --dark-color: #1e1e1e;
}